# Agent Orchestration
NOVA_API_KEY=your_nova_api_key
NOVA_ORCHESTRATOR_AGENT_ID=
NOVA_SOS_AGENT_ID=
NOVA_GENERAL_AGENT_ID=
NOVA_VOICE_AGENT_ID=

AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_SESSION_TOKEN=your_session_token_if_using_temporary_credentials
AWS_REGION=us-east-2
SNS_SOS_TOPIC_ARN=

# Get your free API key at https://openrouteservice.org/dev/#/signup
OPENROUTESERVICE_API_KEY=your_orsm_key

# News Alert App
DATABASE_URL=new_alert_app_db_url
RABBITMQ_URL=rabbit_mq_instance_url
REDIS_URL=redis_instance_url

OPENAI_API_KEY=your_openai_api_key

TELEGRAM_BOT_TOKEN=your_bot_token_here
WHATSAPP_ACCESS_TOKEN=whatsapp_access_token
WHATSAPP_PHONE_NUMBER_ID=whatsapp_phone_number_id
WHATSAPP_GRAPH_API_VERSION="v23.0"

NEWSAPI_KEY=news_api_key

APP_BASE_URL="http://localhost:3000"
