NOVA_API_KEY=your_nova_api_key
NOVA_ORCHESTRATOR_AGENT_ID=
NOVA_SOS_AGENT_ID=
NOVA_GENERAL_AGENT_ID=
NOVA_VOICE_AGENT_ID=

AWS_REGION=us-east-1
SNS_SOS_TOPIC_ARN=

# Get your free API key at https://openrouteservice.org/dev/#/signup
OPENROUTESERVICE_API_KEY=your_orsm_key
